<%- include ('partials/header.ejs'); %>
<body>
    <div class="consiner-fluid">
        <h1 style="background-color: aquamarine;">hello word!</h1>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>